body{
  background-color:green;
}
.mat-input-invalid .mat-input-placeholder {
  color: red;
}

.mat-input-invalid .mat-input-ripple {
  background-color: red;
}
.mat-form-field {
  display: block;
  width: 50%;
}

.state {
  margin-top: 8px;
}